<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Objetos</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,300,700'><link rel="stylesheet" href="./style.css">
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,300,700'><link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href="static/css/style.css"/> 
</head>
<body>
    
    <div class="container"> 
        <section id="fancyTabWidget" class="tabs t-tabs">
                <ul class="nav nav-tabs fancyTabs" role="tablist">
                
                            <li class="tab fancyTab active">
                            <div class="arrow-down"><div class="arrow-down-inner"></div></div>	
                                <a id="tab0" href="#tabBody0" role="tab" aria-controls="tabBody0" aria-selected="true" data-toggle="tab" tabindex="0"><span class="fa fa-bar-search"></span><span class="hidden-xs">Actualmente</span></a>
                              <div class="whiteBlock"></div>
                            </li>
                            
                </ul>

    <div class="section">
        
            <button class="btn" id="boton">Json</button>
            
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Unidad</th>
                    <th>Aréa_de_Investigación</th>
                    <th>Departamento</th>
                    <th>Sector</th>
                    <th>Grado</th>
                    <th>Año_Inicial</th>
                    <th>Año_Final</th>
                </tr>
            </thead>
            <tbody id="res">

            </tbody>
        </table>
    </div>
    </section>
    </div>

    <script src="objetos.js"></script>
    
</body>
</html>